:root {
    --text-black: black;
    --text-orange: #FF6000;
}


/* header */

.nav-item .dropdown > a {
    color: var(--text-black);
}


.title {
    color:var(--text-orange);
    text-align: center;
    font-size: 40px;

}

/* .subtitle {
    margin-top: 15px;
    margin-bottom: 15px;
} */


.section-choice {
    padding-top: 60px;
    background-color: white;
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
    position: absolute;
    top: 99%;
    left: 12%;
}

.section-tours{
    position: relative;
    margin-top: 340px;
}


/* css для слайдера */

.content {
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
  }
  h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  }
  ​


.multiple-items img {
    max-width: 100%;
    height: auto;
}
.multiple-items h4 {
    font-size: 24px;
    color: var(--text-orange);
    margin-top: 10px;
}
.multiple-items p {
    color: #666;
}



